.list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.list {
  margin: 20px auto;
  border: 1.5px solid blue;
  border-radius: 10px;
  min-width: 220px;
}

input {
  padding: 10px;
  margin-right: 10px;
  border: 1.5px solid blue;
  border-radius: 5px;
}

input:focus {
  border-color: red;
  outline: none;
}

button {
  padding: 10px;
  border: 1.5px solid blue;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  border-color: red;
}